.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-cart img {
  width: 230px;
}

.empty-cart .btn {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
