.banner {
  position: relative;
  background-image: url('https://nix-be-d5b2f.ondigitalocean.app/uploads/banner_f2449c88de.png');
  height: 493px;
  color: white;
  font-family: 'Rounded Mplus 1c';
}

.banner .app-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner .app-container h2 {
  font-size: 52px;
  line-height: 62px;
  color: #ffffff;
}

.banner .app-container p {
  font-style: normal;
  font-weight: 200;
  font-size: 28px;
  line-height: 42px;
  color: #ffffff;
}

.banner .app-container .btn {
  width: 20.25rem;
}

.tones {
  margin-bottom: 2.275rem;
}

.follow-us {
  margin-bottom: 23px;
}

.follow-us a {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.23em;
  color: #3c90bf;
  margin-bottom: 70px;
  text-decoration: none;
  display: block;
}

.follow-us a:hover {
  color: #3c90bf;
  text-decoration: none;
}

.preset-card:hover .card-body img {
  margin-top: 0;
}

.reviews .review-item {
  width: 213px;
}

.reviews .slick-list {
  margin: 0 94px;
}

.reviews .slick-slide, .follow-us .slick-slide {
  margin: 0 10px;
}

.follow-us .slick-list {
  max-height: 271px;
}

.reviews .slick-dots li {
  margin: 0;
  width: 15.36px;
}

@media (max-width: 576px) {
  .banner {
    height: 452px;
  }

  .banner .app-container h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .banner .app-container p {
    font-size: 22px;
    line-height: 33px;
  }

  .banner .app-container .btn {
    width: 10.68rem;
  }

  .follow-us {
    margin-bottom: 15px;
  }

  .follow-us a {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 27px;
  }

  .reviews .slick-list {
    margin: 0;
  }
}
