.product-data {
  flex-wrap: nowrap;
  margin-bottom: 44px;
}

.product-data > div,
.description {
  width: calc(100% - 545px);
}

.product-cover {
  width: 545px;
  height: 545px;
}

.app-container.product {
  padding-top: 5.3125rem;
}

.product-details {
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 33px;
  padding: 48px 40px 65px 54px;
}

.deal {
  display: grid;
  grid-template-columns: 228px 228px 228px 228px;
  column-gap: 42px;
}

.product-details .price-wrapper {
  justify-content: start;
  margin-bottom: 47px;
}

.product-details .product-title {
  margin-bottom: 15px;
}

.product-details .rating {
  margin-bottom: 29px;
}

.product-details .buttons {
  display: flex;
}

.add-to-cart.btn-outline {
  color: #ffbb00;
  background: white;
  border: 1px solid #ffbb00;
  margin-right: 15px;
}

h1.product-title {
  margin-top: 50px;
  margin-left: 54px;
}

.product h7 {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  padding-left: 54px;
}

.text-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #1c1c23;
  margin-bottom: 26px;
}

.included-list {
  list-style: none;
  margin-bottom: 28px;
}

.included-list li::before {
  content: '\2022';
  color: #ffbb00;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.product-title {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.19em;
  color: #1c1c23;
  text-transform: uppercase;
  font-weight: 300;
}

.product-examples {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 22px;
  row-gap: 22px;
}

.deal-total {
  display: flex;
}

.deal-wrapper h2 {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.2em;
  color: #1c1c23;
  text-transform: uppercase;
  background: no-repeat bottom url('../../assets/images/deal-bg.png');
  font-weight: 400;
  padding: 0 10px;
  margin-bottom: 44px;
}

.deal-total .price {
  font-size: 22px;
  line-height: 26px;
  opacity: 1;
}

.deal-total .price-wrapper {
  flex-direction: row-reverse;
}

.deal-wrapper .btn {
  width: 40%;
}

.deal-total h6 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
}

.deal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 89px;
  margin-bottom: 97px;
}

.deal-wrapper a,
.deal-wrapper:hover a {
  text-decoration: none;
  color: #1c1c23;
}

.deal .card-background {
  height: calc(100% - 94px);
}

.product-reviews {
  column-count: 5;
  gap: 19px;
  margin-top: 45px;
}

.reviews-wrapper .info .star {
  width: 25px;
  height: 25px;
}

.reviews-wrapper .info .rating-counter {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: none;
}

.review-item {
  page-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 19px;
}

.also-like h3 {
  font-size: 35px;
  line-height: 41px;
  letter-spacing: 0.23em;
  color: #1c1c23;
  font-weight: 300;
  text-align: center;
  margin-bottom: 60px;
}

.deal-wrapper {
  position: relative;
}

.product .deal {
  overflow-x: auto;
  position: relative;
  width: 100%;
}

.product .reviews-wrapper .info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product .review-btn {
  border: 1px solid rgba(209, 153, 0, 0.3);
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #d19900;
  text-transform: none;
  background-color: transparent;
  height: 34px;
  padding: 0 14px;
}

@media (max-width: 576px) {
  .product-data {
    flex-direction: column;
    margin-bottom: 4px;
  }

  .product-data > div,
  .description {
    width: 100%;
  }

  .product-cover {
    z-index: 10;
    width: 375px;
    height: 393px;
    border-radius: 0;
    box-shadow: 0px 16px 25px rgba(24, 28, 30, 0.2);
  }

  .product-details .data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-details .price-wrapper {
    margin-bottom: 40px;
  }

  .product-details .buttons {
    flex-direction: column;
    width: 100%;
  }

  .product-details .buttons button {
    margin: 0;
  }

  .product-details .buttons .btn-outline {
    margin-bottom: 10px;
  }

  .product h1.product-title {
    margin: 36px 16px 0 16px;
  }

  .product .description {
    padding: 16px;
  }

  .product-data .slick-slide {
    margin: 0 4.5px;
  }

  .product-data .slick-slider {
    max-height: 67px;
  }

  .product-data .slider-arrow.slick-prev,
  .product-data .slider-arrow.slick-next {
    width: 29px;
    height: 29px;
    z-index: 10;
  }

  .product-data .slider-arrow.slick-prev svg,
  .product-data .slider-arrow.slick-next svg {
    width: 10px;
    height: 10px;
  }

  .product-data .slider-arrow.slick-prev {
    left: -14px;
  }

  .product-data .slider-arrow.slick-next {
    right: -10px;
  }

  .app-container.product {
    padding-top: 0;
  }

  .product-title {
    font-size: 20px;
    line-height: 23px;
    margin-top: 57px;
  }

  .product-details {
    margin: 0;
    padding: 25px 40px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  .deal-wrapper {
    margin-top: 6px;
    margin-bottom: 77px;
  }

  .deal-wrapper h2 {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 17px;
  }

  .product-reviews {
    column-count: 2;
    gap: 15px;
  }

  .also-like h3 {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 31px;
  }

  .product .deal-total {
    margin-top: 42px;
  }

  .product .deal-wrapper button {
    margin-top: 21px;
    width: 100%;
  }

  .product button {
    height: 60px;
  }

  .product .product-reviews {
    margin-top: 26px;
  }

  .reviews-wrapper .info .star {
    width: 15px;
    height: 15px;
  }
}
