.card-background {
  position: absolute;
  background-color: white;
  height: calc(100% - 145px);
  border-radius: 10px;
  bottom: 0;
  width: 100%;
}

.card-body {
  position: relative;
  z-index: 10;
  width: 100%;
}

.card-body img {
  box-shadow: 0px 16px 25px rgba(24, 28, 30, 0.2);
  border-radius: 10px;
  margin-bottom: 37px;
  transition: margin-top 0.2s;
  position: relative;
  width: 100%;
}

.card-body .title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  color: #000000;
}

.card-body .rating {
  margin-bottom: 17px;
  justify-content: center;
}

.star {
  margin-right: 3px;
}

.empty-star path {
  fill: red;
}

.preset-card {
  margin-bottom: 44px;
  position: relative;
  text-decoration: none;
}

.preset-card:hover {
  text-decoration: none;
}

.preset-card:hover .title {
  text-decoration-line: underline;
  color: #dc3535;
}

.preset-card:hover .card-body img {
  margin-top: -14px;
}

/* TODO */
/* .preset-card:hover .card-body img:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
} */

.preset-card .add-to-cart {
  height: 49px;
}

@media (max-width: 576px) {
  .card-body {
    position: relative;
    z-index: 10;
    width: 100%;
  }

  .preset-card {
    margin-bottom: 0;
  }
}
