.section-title {
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 2.1875rem;
  text-align: center;
  letter-spacing: 0.23em;
  color: #1c1c23;
  margin-bottom: 2.75rem;
  margin-top: 7rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 46px;
  row-gap: 64px;
}

main {
  margin-top: 103px;
  min-height: calc(100% - 106px - 140px - 110px);
}

.slider-arrow.slick-prev,
.slider-arrow.slick-next {
  width: 49px;
  height: 49px;
  background: #ffbb00;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-arrow.slick-prev:hover,
.slider-arrow.slick-next:hover {
  background: #c28e00;
}

.slider-arrow:before {
  display: none;
}

.nix-carousel-dot {
  height: 8.36px;
  width: 8.36px;
  border-radius: 50%;
  background: #000000;
  opacity: 0.15;
}

.slick-active .nix-carousel-dot {
  background-color: #ffbb00;
  opacity: 1;
}

.app-container .slick-dots {
  bottom: -55px;
}

.snipcart-modal__container {
  margin-top: 106px;
}

@media (max-width: 576px) {
  .section-title {
    margin-bottom: 14px;
    margin-top: 31px;
    font-size: 20px;
  }

  .slick-dots {
    bottom: -45px;
  }

  .cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 28px;
  }

  main {
    margin-top: 91px;
    min-height: calc(100% - 94px - 100px - 60px);
  }

  .snipcart-modal__container {
    margin-top: 91px;
  }
}
