@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  src: url('assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Rounded Mplus 1c';
  font-weight: 200;
  src: url('assets/fonts/MPLUSRounded1c-Light.ttf');
}

@font-face {
  font-family: 'Rounded Mplus 1c';
  font-weight: 400;
  src: url('assets/fonts/MPLUSRounded1c-Medium.ttf');
}

@font-face {
  font-family: 'Rounded Mplus 1c';
  font-weight: 500;
  src: url('assets/fonts/MPLUSRounded1c-Regular.ttf');
}

body .App {
  font-family: 'Roboto', 'Rounded Mplus 1c', sans-serif;
}

html,
body,
#root,
.App {
  height: 100%;
  background-color: #e5e5e5;
}

.app-container {
  max-width: 1144px;
  padding: 0.8rem;
  margin: auto;
}

.App .btn {
  background: #ffbb00;
  border-radius: 5px;
  border: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1rem;
  line-height: 19px;
  padding: 14px 0;
}
