.save-title {
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1c1c23;
  font-weight: 400;
  margin-top: 66px;
}

.save-sub-title {
  font-size: 28px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.23em;
  color: #565656;
  font-weight: 300;
  margin-top: 16px;
  margin-bottom: 54px;
}

@media (max-width: 576px) {
  .save-title {
    margin-top: 44px;
    font-size: 20px;
    line-height: 23px;
  }

  .save-sub-title {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 38px;
  }
}
